/*header*/
header {
    background-color: rgb(5, 5, 5);
}

h2 {
    margin: 0;
    color: #dd211a;
    text-align: center;
    padding-top: 100px;
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Navbar*/
h1 {
    color: #dad3cb; 
    display: inline;
    font-family: 'Great Vibes', cursive, sans-serif;
}

.logo {
    margin-right: 10px;
    margin-top: -5px;
    border-radius: 50%;
}

.fuego-texto, .fuego-boton {
    transition: all 0.5s ease-in-out;
}

.fuego-texto:hover {
    text-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e;
color: #666;
}

.fuego-boton:hover {
    box-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e;
color: #666;
}

/*fin navbar*/
/*fin header*/

/*main*/

main {  
    padding: 30px 20px 0 30px;
    height: 100vh;
    background-image: url(../img/fondo.png);
    background-size: cover;
}

a {
    text-decoration: none;
}

/* index */

.img-index {
    max-width: 500px;
    margin: 0 auto;
}

i, h4, p {
    color: #dad3cb;
    
}

i, h4 {
    font-size: 18px;
}

.moto {
    margin: 20px 0 10px 0;
    display: block;
    font-size: 30px;
    background-color: rgb(33,37,41) ;
    border: 8px solid rgb(33,37,41);
    border-radius: 50%;
}

.block {
    display: block;
    margin-bottom: 10px;
}

.fondito {
    background-color: rgb(33,37,41);
    border-left: 10px solid rgb(33,37,41) ;
    border-right: 10px solid rgb(33,37,41) ;
    border-radius: 40px;
    display: inline;
}


/*pagina nosotros*/

.embed-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

/* pagina catálogo */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

.grid img {
    max-width: 280px;

}

.producto {
    background-color: rgb(33,37,41);
    max-width: 280px;
}

.producto p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;

}

.producto1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.producto2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.producto3 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.producto4 {
    grid-column: 3/4;
    grid-row: 2/3;
}


/*pagina contacto */

.wsp {
    color: #dad3cb;
}

.wsp:hover {
    color: #dad3cb;
}

.qr-code {
    max-width: 200px;
    margin: 20px auto 10px auto;
}

.mas-margen {
    margin-top: 10px;
}

/*form*/
label {
    color: #dad3cb;
}

form {
    margin: 15px auto 0 auto;
    
}

form button {
    position: absolute;
    right: 40px;
    
}

#enviar {
    background-color: rgb(33,37,41);
}


/*footer*/

footer {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgb(33,37,41);
    opacity: 1;
    text-align: center;
    z-index: 12000;
    border: 1px solid rgb(5, 5, 5); 
}



.redes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 15px;
}

.link-redes {
    margin-top: 10px;

}

.link-redes a {
    color: #dad3cb;
    margin: 0 30px 0 30px;
}


/*animación*/

@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

@media screen and (max-width: 767px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        

    }
    
    .producto {
        display: flex;
        flex-direction: row;
        max-width: none;
        align-items: center;
        
    }

    .producto1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .producto2 {
        grid-column: 1/2;
        grid-row: 2/3;      
    }
    
    .producto3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .producto4 {
        grid-column: 1/2;
        grid-row: 4/5;
        
    }

    .grid img {
        max-width: 150px; 
    }

    .qr-code, .qr-text {
        display: none;
    }
}

@media screen and (max-width: 374px) {
   

    .grid img {
        max-width: 100px; 
    }
    
    .producto p {
        font-size: 14px;
     
    }

    .producto4  {
        display: none;
    }
    
    footer {
        height: 150px;
        padding-top: 25px;

    }
  

    .nosotros {
        height: fit-content;
        padding-bottom: 10px;

    }

}


