/*header*/
header {
    background-color: rgb(5, 5, 5);
}

h2 {
    margin: 0;
    color: #dd211a;
    text-align: center;
    padding-top: 100px;
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Navbar*/
h1 {
    color: #dad3cb; 
    display: inline;
    font-family: 'Great Vibes', cursive, sans-serif;
}

.logo {
    margin-right: 10px;
    margin-top: -5px;
    border-radius: 50%;
}

.fuego-texto, .fuego-boton {
    transition: all 0.5s ease-in-out;
}

.fuego-texto:hover {
    text-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e;
color: #666;
}

.fuego-boton:hover {
    box-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e;
color: #666;
}

/*fin navbar*/
/*fin header*/

/*main*/

main {  
    padding: 30px 20px 0 30px;
    height: 100vh;
    background-image: url(../img/fondo.png);
    background-size: cover;
}

/* index */

.img-index {
    max-width: 500px;
    margin: 0 auto;
}

i, h4, p {
    color: #dad3cb;
    
}

i, h4 {
    font-size: 18px;
}

.moto {
    margin: 20px 0 10px 0;
    display: block;
}

.envio {
    background-color: rgb(33,37,41);
    display: inline-block;
}
/*pagina nosotros*/

.embed-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*pagina contacto */

.wsp {
    color: #dad3cb;
}

.wsp:hover {
    color: #dad3cb;
}

.qr-code {
    max-width: 200px;
    margin: 20px auto 10px auto;
}

.mas-margen {
    margin-top: 10px;
}

/*form*/
label {
    color: #dad3cb;
}

form {
    margin: 15px auto 0 auto;
    
}

form button {
    position: absolute;
    right: 40px;
    
}

#enviar {
    background-color: rgb(33,37,41);
}

/*fin pagina catalogo*/

/*footer*/

footer {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgb(33,37,41);
    opacity: 1;
    text-align: center;
    z-index: 12000;
    border: 1px solid rgb(5, 5, 5); 
}



.redes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 15px;
}

.link-redes {
    margin-top: 10px;

}

.link-redes a {
    color: #dad3cb;
    margin: 0 30px 0 30px;
}


/*animación*/

@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }


